* {
    border:1px solid black;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray; /*Фон чтобы увидеть где меню находится. Это не обязательно*/
}